doctype html
html
  head
    meta(charset='utf-8')
  body(background='/uploads/7d286c6c274a1b77bdf0e992c1d4a99c')
    form(action='upload' method='post' enctype="multipart/form-data")
      p
        input(type='file' name='userfile')
      p
        input(type='submit')
